@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body{
    font-family: Merienda;
}

.container{
    display: flex;
    gap: 10px;
    width: 1000px;
    margin: 0px 250px;
}

.nav{
    width: 1000px;
    margin: 0px 250px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.notification{
    margin-top: 70px;
    margin-right: 40px;
    display: flex;
    gap: 40px;
}

.story{
    width: 1000px;
    margin: 20px 250px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    overflow: auto;
}

.story::-webkit-scrollbar{
    display: none;
}

.story-img{
    width: 60px;
    border: 4px solid #c42618;    border-radius: 50%;
}

.insta-card{
    width: 600px;
    height: 650px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 16px auto;
    padding: 10px;
    align-items: center;
}
.profile{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.profile-img{
    width: 60px;
    border-radius: 50%;
}

.post{
    height: 400px;
    border-radius: 3%;
}

.menu{
    display: flex;
    justify-content: space-between;
    word-spacing: 15px;
}

.comment-section{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-img2{
    width: 30px;
    border-radius: 50%;
}

.comment{
    border-radius: 5px;
}

video{
    width: 100%;
}

.info{
    width: 350px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 16px auto;
    padding: 10px;
}

.icon{
    width: 150px;
}

.footer{
    width: 1000px;
    background-color: white;
    border: 6px solid white;
    margin-left: 250px;
    margin-right: 250px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

@media(max-width: 750px){
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 750px;
        margin: 0px 10px;
        align-items: center;
    }
    
    .nav{
        width: 750px;
        margin: 0px 10px;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    
    .notification{
        margin-top: 70px;
        margin-right: 40px;
        display: flex;
        gap: 40px;
    }
    
    .story{
        width: 750px;
        margin: 10px 10px;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .story::-webkit-scrollbar{
        display: none;
    }
    
    .story-img{
        width: 60px;
        border: 4px solid #c42618;
        border-radius: 50%;
    }
    
    .insta-card{
        width: 720px;
        height: 650px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 16px auto;
        padding: 10px;
        align-items: center;
    }
    .profile{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
    }
    .profile-img{
        width: 60px;
        border-radius: 50%;
    }
    
    .post{
        width: 700px;
        height: 400px;
        border-radius: 3%;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        word-spacing: 15px;
    }
    
    .comment-section{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    .profile-img2{
        width: 30px;
        border-radius: 50%;
    }
    
    .comment{
        border-radius: 5px;
    }
    
    video{
        width: 100%;
    }
    
    .footer{
        width: 500px;
        background-color: white;
        border: 6px solid white;
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}